.vouchers-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.voucher-box {
  border: 1px solid black;
}

.header-box {
  display: flex;
  height: 75px;
}

.fungarium-logo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px; /* Add some margin between text and image */
  margin-right: 10px; /* Add some margin between text and image */
}

.fungarium-logo img {
  order: 1;
  max-width: 100%; /* Ensure image doesn't exceed its container width */
  height: 50px;
}

.fungarium-name {
  text-align: center;
  font-family: "roca", sans-serif;
  font-weight: 400;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  order: 1;
  flex-grow: 1;
}

.voucher-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 175px;
}

.voucher-info div {
  border: 0.5px solid black;
  padding: 2px;
  font-family: ...
}
